img {
    max-width: 100%;
}

article.card-detail {
    max-width: 300px;
    background: #c8bfbf;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px #d7d7d7;
}

.header-card-detail {
    display: flex;
    justify-content: center;
}

.header-card-detail img {
    border-radius: 8px 8px 0 0;
    max-height: 100px;
    height: 100px;
    width: 40%;
    margin: 1rem;

}

.categoria-card-detail {
    background: #25c4d8;
    color: #fff;
    padding: .2rem .5rem;
    border-radius: 4px;
    justify-content: center;
    display: flex;
    text-align: center;
}

.card-detail footer {
    padding: 0 1rem;
}

.card-wrap-detail {
    display: inline-flex;
    flex-flow: flexGrow;
    display: flex inline;
}