.App-body {
  background-color: rgb(24, 72, 72);
  min-height: 100vh;
  font-size: calc(8px + 2vmin);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(106, 73, 73)
}